<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STUDENT MANAGER</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>


  <header class="Primary-Header">
    <div class="Primary-Header-Content">
      <a class="Logo-main" href="/"><strong>Student Manager</strong></a>
    </div>
    <div class="primary-container">
      <nav class="Primary-Navbar" Aria-Expanded="false" Data-Visible="false">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/dashboard">Sign Up</a>
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/signup" class="Primary-Navbar-Link">Sign Up</a>
        {{/if}}
      </nav>
    </div>
  </header>

  <main>
    <div >
      <!-- Render the sub layout -->
      {{{ body }}}

    </div>


  </main>
  <footer class="Primary-Footer">
    <div class="footer-row">
      <a href="#" class="footer-link">About Us</a>
      <a href="/contact" class="footer-link">Contact Us</a>
      <a href="#" class="footer-link">FAQ</a>
    </div>
    <footer>


      <!-- Render script for logged in users only -->
      {{#if logged_in}}
      <script src="/js/logout.js"></script>
      {{/if}}
</body>

</html>