<div> Course Name: <strong> {{course.course_name}} </strong> </div>

<hr>

<div> Course Description: <strong>{{course.description}} </strong> </div>

<hr>

<div> Course Department: <strong>{{course.department.department_name}}</strong> and its id: <strong> {{course.department_id}} </strong> </div>

<hr>