<h1>Hellow, this is the students page. What are you presented with?</h1>

<div>
  {{#if students.length}}
    <h3>Current students:</h3>
    <div class="col-md-6 project-list">
      {{#each students}}

        <div> student id: {{this.id}} </div>
        <div>student name: {{this.first_name}} {{this.last_name}}</div>
        <br>

      {{/each}}
    </div>
  {{/if}}
</div>

<div>
  <h3>Add new students:</h3>
  <input id="new-student-input" type="text"></input>
  <button id="add-student-btn">Add Student</button>
</div>

<script src="./js/students.js"></script>

